:global {
  .ant-table {
    table {
      text-align: center;
    }
  }
  .ant-table-thead {
    >tr {
      >th {
        text-align: center;
      }
    }
  }
  .ant-layout {
    background-color: #fff;
  }
  .ant-layout-sider {
    background-color: #fff;
  }
  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #00aff0;
  }
  ::-webkit-scrollbar-track {
    background-color: #bee1eb;
  }
  .user-table-container{
    margin-top: 10px;
  }
}
